{
  "extends": "airbnb",
  "rules": {
    "jsx-a11y/href-no-hash": "off",
    "comma-dangle": "off",
    "react/jsx-filename-extension": "off",
    "no-underscore-dangle": "off",
    "arrow-parens": "off",
    "function-paren-newline": "off",
    "object-curly-newline": "off"
  },
  "env": {
    "browser": true,
    "jest": true
  },
  "parser": "babel-eslint"
}
