$blue: #0047b0;
$pink: #ea2381;

body {
  font-family: 'Inconsolata', monospace;
}

h2 {
  color: $blue;
}

.navbar {
  background: $pink;
}

.error {
  padding: 2rem;
}

div.card-body.weather {
  padding: 0;

  div.react-open-weather-map {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1.25rem;

    div.main-heading {
      color: $blue;
      font-weight: bold;
    }
  }
}
