$blue: #0047b0;
$pink: #ea2381;

body {
  font-family: 'Inconsolata', monospace;
}

h2,
h3 {
  color: $blue;
}

.navbar {
  background: $pink;
}

.coinbase,
.error {
  padding: 2rem;
}

div.card-body.weather {
  padding: 0;

  div.react-open-weather-map {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1.25rem;

    div.main-heading {
      color: $blue;
      font-weight: bold;
    }
  }
}

.Price {
  .card-body {
    align-items: center;
    display: flex;
    flex-direction: column;

    span {
      align-items: center;
      display: flex;

      span:first-child {
        font-size: 2rem;
      }
      span:nth-child(2) {
        font-size: 3rem;
      }
      span:last-child {
        font-size: 2rem;
      }
    }
  }
}

.Everything__autocomplete {
  ul {
    margin: 0 0.5rem;
    padding: 0;
    position: absolute;
    z-index: 10;

    li {
      background-color: white;
      border-color: rgba(0, 0, 0, 0.15);
      border-style: solid;
      border-width: 0 1px 1px 1px;
      padding: 0.25rem 0.5rem;

      &:last-child {
        border-radius: 0 0 5px 5px;
      }
    }
  }
}
